.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/main_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
}

.search-bar {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.icon-hover:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

/* Banner */
.banner-button {
    background-color: #FE7501;
    color: white;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

.banner-button:hover {
    background-color: #FE7501;
    transform: scale(1.05);
}
